SourceCode/src/Win32_Build/Debug/
SourceCode/src/Win32_Build/Backup/
SourceCode/src/Win32_Build/ReleaseDLL/link.command.1.tlog
SourceCode/src/Win32_Build/ReleaseDLL/
SourceCode/src/Win32_Build/_UpgradeReport_Files/UpgradeReport.xslt
SourceCode/src/Win32_Build/_UpgradeReport_Files/UpgradeReport_Error.png
SourceCode/src/Win32_Build/_UpgradeReport_Files/UpgradeReport_Information.png
SourceCode/src/Win32_Build/_UpgradeReport_Files/UpgradeReport_Success.png
SourceCode/src/Win32_Build/_UpgradeReport_Files/UpgradeReport_Warning.png
SourceCode/src/Win32_Build/ClassDocs.vcxproj
SourceCode/src/Win32_Build/ClassDocs.vcxproj.filters
SourceCode/src/Win32_Build/UpgradeLog.XML
SourceCode/src/Win32_Build/UpgradeLog.htm
SourceCode/src/Win32_Build/_UpgradeReport_Files/UpgradeReport.css
SourceCode/src/Win32_Build/omnimapdll.opensdf
SourceCode/src/Win32_Build/omnimapdll.sln.GhostDoc.xml
SourceCode/src/Win32_Build/omnimapdll.vcxproj
SourceCode/src/Win32_Build/omnimapdll.vcxproj.filters
SourceCode/examples/hallway/hallway_original/Source/Game.suo
*.user
SourceCode/src/Win32_Build/Backup1/omnimapdll.sln
SourceCode/src/Win32_Build/Backup1/omnimapdll.v11.suo
SourceCode/src/Win32_Build/DebugDLL/omnimapdll.log
SourceCode/src/Win32_Build/UpgradeLog2.XML
SourceCode/src/Win32_Build/UpgradeLog2.htm
NeededDependencies/glew-1.12.0-win32/
SourceCode/*.log
*.log
*.pdb
*.tlog
SourceCode/examples/hallway/hallway_dome_enabled/Source/Game.sln.GhostDoc.xml
SourceCode/examples/hallway/hallway_dome_enabled/Source/Game.v11.suo
SourceCode/examples/hallway/hallway_dome_enabled/Source/Release/Basecode.obj
SourceCode/examples/hallway/hallway_dome_enabled/Source/Release/Demo.exe
SourceCode/examples/hallway/hallway_dome_enabled/Source/Release/Demo.lastbuildstate
SourceCode/examples/hallway/hallway_dome_enabled/Source/Release/Map.obj
SourceCode/examples/hallway/hallway_dome_enabled/Source/Demo.vcxproj.filters
