/* ---------------------Globals & Portfolio ----------------------------*/

li {
	list-style-image: url(media/blue_arrow.gif);
}

.GlobalPageHeader {color: #ffffff;
 				font-family: Gill-sans, Helvetica, Arial;
 				font-weight: bold;
				font-size: 14px;
				}
.GlobalSubNav {color: #ffffff;
 				font-family: Gill-sans, Helvetica, Arial;
 				font-weight: bold;
				font-size: 14px;
				}
.GlobalSubNav a:link{color: #CED4FE;text-outline: none;border: none;text-decoration:none;}
.GlobalSubNav a:visited{color: #CED4FE;text-outline: none;border: none;text-decoration:none;}
.GlobalSubNav a:hover{color: #ff9900;text-outline: none;border: none;text-decoration:none;}
.GlobalSubNav a:active{
	color: #ff9900;
	text-outline: none;
	border: none;
	text-decoration:none;
	font-size: 14px;
}
				

				
.GlobalSiteFooter {color: #242546;
 				font-family: Gill-sans, Helvetica, Arial;
 				font-weight: bold;
				font-size: 10px;
				}
				
				
.GlobalSiteNavText {color: #ffffff;
 				font-family: Gill-sans, Helvetica, Arial;
 				font-weight: bold;
				font-size: 14px;
				text-decoration: none;
				}
.GlobalSiteNavText a:link{color: #CED4FE;text-outline: none;border: none;text-decoration:none;}
.GlobalSiteNavText a:visited{color: #CED4FE;text-outline: none;border: none;text-decoration:none;}
.GlobalSiteNavText a:hover{color: #ff9900;text-outline: none;border: none;text-decoration:none;}
.GlobalSiteNavText a:active{color: #ff9900;text-outline: none;border: none;text-decoration:none;font-size: 14px;}
		

.GlobalBodyText {color: #CED4FE;
 				font-family: Gill-sans, Helvetica, Arial;
 				font-weight: normal;
				font-size: 12px;
				line-height: 16px;
				text-decoration: none;
				}
.GlobalBodyText a:link{color: #808DFF;text-outline: none;border: none;text-decoration:none;font-size: 12px;font-weight: normal;}
.GlobalBodyText a:visited{color: #808DFF;text-outline: none;border: none;text-decoration:none;font-size: 12px;font-weight: normal;}
.GlobalBodyText a:hover{color: #ff9900;text-outline: none;border: none;text-decoration:none;font-size: 12px;font-weight: normal;}
.GlobalBodyText a:active{color: #ff9900;text-outline: none;border: none;text-decoration:none;font-size: 12px;font-weight: normal;}

				
.blueMiniType {color: #808DFF;
 				font-family: Gill-sans, Helvetica, Arial;
 				font-weight: bold;
				font-size: 10px;
				text-decoration: none;
				}
				
.blueMiniType a:link{color: #808DFF;text-outline: none;border: none;text-decoration:none;font-size: 10px;font-weight: normal;}
.blueMiniType a:visited{color: #808DFF;text-outline: none;border: none;text-decoration:none;font-size: 10px;font-weight: normal;}
.blueMiniType a:hover{color: #ff9900;text-outline: none;border: none;text-decoration:none;font-size: 10px;font-weight: normal;}
.blueMiniType a:active{color: #ff9900;text-outline: none;border: none;text-decoration:none;font-size: 10px;font-weight: normal;}			
				
.orangeMiniType {color: #ff9900;
 				font-family: Gill-sans, Helvetica, Arial;
 				font-weight: bold;
				font-size: 10px;
				text-decoration: none;
				}
.whiteMiniType {color: #ffffff;
 				font-family: Gill-sans, Helvetica, Arial;
 				font-weight: bold;
				font-size: 10px;
				text-decoration: none;
				}
.whiteMiniType9 {color: #ffffff;
 				font-family: Gill-sans, Helvetica, Arial;
 				font-weight: bold;
				font-size: 9px;
				text-decoration: none;
				}
.lghtMiniType9 {color: #CED4FE;
 				font-family: Gill-sans, Helvetica, Arial;
 				font-weight: bold;
				font-size: 9px;
				text-decoration: none;
				}	
.lghtblueMiniType {color: #CED4FE;
 				font-family: Gill-sans, Helvetica, Arial;
 				font-weight: bold;
				font-size: 10px;
				text-decoration: none;
				}
				
				
				
.image {border:2px solid #242546;} 
a:hover .image, a:active .image {border:2px solid #FF9900;}

body {SCROLLBAR-FACE-COLOR: #0e0d1c;
		SCROLLBAR-HIGHLIGHT-COLOR: #9197c4;
		SCROLLBAR-SHADOW-COLOR: #2c2e55;
		SCROLLBAR-3DLIGHT-COLOR: #9197c4;
		SCROLLBAR-ARROW-COLOR: #9197c4;
		SCROLLBAR-TRACK-COLOR: #2d3058;
		SCROLLBAR-DARKSHADOW-COLOR: #9197c4;
		}


input, textarea {
	font-family: Gill-sans, Helvetica, Arial;	
	padding: 0px;
	font-size: 12px;
	color: #ff9900;
	background-color: #07070E;
	border: 1px solid #666699;
}



/* ------------------------------TABLE STUFF------------------------------------*/

#TableBKG { background-repeat: repeat;}
#TableBKG:hover {background-image: url(media/menuButtonBKG.gif);}

.ThumnailBKG {background-image: url(media/bkg_diagTile.gif); background-repeat: repeat;}

.MenuTableBKG {background-image: url(media/darkBluePixelFiller.gif); background-repeat: repeat;}

.MainTableBKG {background-image: url(media/portfolio_bkg.jpg);}

.MainPageBKG {background-image: url(media/mainpage_BKG.gif);}

table.sample {
	border-width: 2px 2px 2px 2px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #242546 #242546 #242546 #242546;
	border-collapse: collapse;
}

table.sample td {
	border-width: 1px 1px 1px 1px;
	padding: 10px 10px 10px 10px;
	border-style: dashed dashed dashed dashed;
	border-color: #242546 #242546 #242546 #242546;
	-moz-border-radius: 0px 0px 0px 0px;
}

/* --------------------- PARAGRAPHWITHLINKS ----------------------------*/

.paragraphWithLinks {color: #FFFFFF;
					font-family: Gill-sans, Helvetica, Arial;
 					font-weight: normal;
 					font-size: 12px;
					}
.paragraphWithLinks a:link{color: #FF9900;text-outline: none;border: none;text-decoration:none;}
.paragraphWithLinks a:visited{color: #FF9900;text-outline: none;border: none;text-decoration:none;}
.paragraphWithLinks a:hover{color: #808DFF;text-outline: none;border: none;text-decoration:none;}


.paragraphWithLinksUnderline {color: #FFFFFF;
					font-family: Gill-sans, Helvetica, Arial;
 					font-weight: normal;
 					font-size: 12px;
					}
.paragraphWithLinksUnderline a:link{color: #FF9900;text-outline: none;border: none;text-decoration:underline;}
.paragraphWithLinksUnderline a:visited{color: #FF9900;text-outline: none;border: none;text-decoration:underline;}
.paragraphWithLinksUnderline a:hover{color: #808DFF;text-outline: none;border: none;text-decoration:underline;}








/* --------------------- HOMEMINILINKSUNDERLINE ----------------------------*/

.homeminiLinksUnderline {color: #ff9900;
					font-family: Gill-sans, Helvetica, Arial;
 					font-weight: bold;
 					font-size: 10px;
					}
.homeminiLinksUnderline a:link{color: #ff9900;text-outline: none;border: none;text-decoration:none;font-size: 10px;}
.homeminiLinksUnderline a:visited{color: #FF9900;text-outline: none;border: none;text-decoration:none;font-size: 10px;}
.homeminiLinksUnderline a:hover{color: #808DFF;text-outline: none;border: none;text-decoration:underline;font-size: 10px;}









/* --------------------- MAINNAVLINKS ----------------------------*/
.MainNavLinks {color: #ffffff;
					font-family: Gill-sans, Helvetica, Arial;
 					font-weight: bold;
 					font-size: 14px;
					}
.MainNavLinks a:link{color: #ffffff;text-outline: none;border: none;text-decoration:none;}
.MainNavLinks a:visited{color: #ffffff;text-outline: none;border: none;text-decoration:none;}
.MainNavLinks a:hover{color: #ff9900;text-outline: none;border: none;text-decoration:none;}









/* --------------------- DESIGNNAVLINKS ----------------------------*/

.DesignNavLinks {color: #CED4FE;
					font-family: Gill-sans, Helvetica, Arial;
 					font-weight: bold;
 					font-size: 14px;
					}
.DesignNavLinks a:link{color: #CED4FE;text-outline: none;border: none;text-decoration:none;}
.DesignNavLinks a:visited{color: #CED4FE;text-outline: none;border: none;text-decoration:none;}
.DesignNavLinks a:hover{color: #ff9900;text-outline: none;border: none;text-decoration:none;}
.DesignNavLinks a:active{color: #ff9900;text-outline: none;border: none;text-decoration:none;font-size: 14px;}


.DesignBodyHeader {color: #6B7DFE;
 				font-family: Gill-sans, Helvetica, Arial;
 				font-weight: bold;
				font-size: 18px;
				text-decoration: none;
				}
.DesignBodySubHeader {color: #CED4FE;
 				font-family: Gill-sans, Helvetica, Arial;
 				font-weight: bold;
				font-size: 14px;
				text-decoration: none;
				}

.DesignSectionLinks {color: #808DFF;
					font-family: Gill-sans, Helvetica, Arial;
 					font-weight: bold;
 					font-size: 11px;
					}
.DesignSectionLinks a:link{color: #808DFF;text-outline: none;border: none;text-decoration:none;}
.DesignSectionLinks a:visited{color: #808DFF;text-outline: none;border: none;text-decoration:none;font-size: 11px;}
.DesignSectionLinks a:hover{color: #ff9900;text-outline: none;border: none;text-decoration:underline;font-size: 11px;}
.DesignSectionLinks a:active{color: #ff9900;text-outline: none;border: none;text-decoration:none;font-size: 11px;}







/* ------ link active(size) visited hover---------------------------------*/

/* --------------------- PORTFOLIO NAV LINKS ----------------------------*/


.PortfolioNavLinks {color: #808DFF;
					font-family: Gill-sans, Helvetica, Arial;
 					font-weight: bold;
 					font-size: 14px;
					}
.PortfolioNavLinks a:link{color: #808DFF;text-outline: none;border: none;text-decoration:none;}
.PortfolioNavLinks a:visited{color: #808DFF;text-outline: none;border: none;text-decoration:none;font-size: 14px;}
.PortfolioNavLinks a:hover{color: #ff9900;text-outline: none;border: none;text-decoration:none;font-size: 14px;}
.PortfolioNavLinks a:active{color: #ff9900;text-outline: none;border: none;text-decoration:none;font-size: 14px;}




.ProjectTitle {color: #808DFF;
 				font-family: Gill-sans, Helvetica, Arial;
 				font-weight: bold;
				font-size: 18px;
				}
				
.ProjectTitle a:link{color: #808DFF;text-outline: none;border: none;text-decoration:none;font-size: 18px;}
.ProjectTitle a:visited{color: #808DFF;text-outline: none;border: none;text-decoration:none;font-size: 18px;}
.ProjectTitle a:hover{color: #ff9900;text-outline: none;border: none;text-decoration:none;font-size: 18px;}
.ProjectTitle a:active{color: #ff9900;text-outline: none;border: none;text-decoration:none;font-size: 18px;}				
				
.ProjectSubtitle {color: #808DFF;
 				font-family: Gill-sans, Helvetica, Arial;
 				font-weight: bold;
				font-size: 14px;
				}
.ProjectBody {font-family: Verdana, Gill-sans, Helvetica, Arial;
             font-size: 11px;
             color: #CED4FE;
             /*line-height: 16px;*/
             /*letter-spacing: 0px;*/
             vertical-align: text-top;
             }
.ProjectLinktitle {color: #ffffff;
 				font-family: Gill-sans, Helvetica, Arial;
 				font-weight: bold;
				font-size: 12px;
				}
     


.PortfolioSubMenu {color: #CED4FE;
					font-family: Gill-sans, Helvetica, Arial;
 					font-weight: bold;
 					font-size: 10px;
					}
.PortfolioSubMenu a:link{color: #CED4FE;text-outline: none;border: none;text-decoration:none;font-size: 10px;}
.PortfolioSubMenu a:visited{color: #CED4FE;text-outline: none;border: none;text-decoration:none;font-size: 10px;}
.PortfolioSubMenu a:hover{color: #ff9900;text-outline: none;border: none;text-decoration:none;font-size: 10px;}
.PortfolioSubMenu a:active{color: #ff9900;text-outline: none;border: none;text-decoration:none;font-size: 10px;}




/* --------------------- CONNECT ----------------------------*/

.ConnectHeaders{color: #6B7DFE;
 				font-family: Gill-sans, Helvetica, Arial;
 				font-weight: bold;
				font-size: 18px;
				text-decoration: none;
				}



				
/* --------------------- SUPPORT ----------------------------*/
.supportDownloadTitle {color: #ff9900;
 				font-family: Gill-sans, Helvetica, Arial;
 				font-weight: normal;
				font-size: 13px;
				text-decoration: none;
				}
.supportDownloadTitle a:link{color: #808DFF;text-outline: none;border: none;text-decoration:none;}
.supportDownloadTitle a:visited{color: #808DFF;text-outline: none;border: none;text-decoration:none;font-size: 13px;}
.supportDownloadTitle a:hover{color: #ff9900;text-outline: none;border: none;text-decoration:underline;font-size: 13px;}
.supportDownloadTitle a:active{color: #ff9900;text-outline: none;border: none;text-decoration:none;font-size: 13px;}




.supportDownloadDescrp {color: #CED4FE;
 				font-family: Gill-sans, Helvetica, Arial;
 				font-weight: normal;
				font-size: 12px;
				text-decoration: none;
				}
.supportDownloadDescrp a:link{color: #ff9900;text-outline: none;border: none;text-decoration:none;}
.supportDownloadDescrp a:visited{color: #CED4FE;text-outline: none;border: none;text-decoration:none;font-size: 12px;}
.supportDownloadDescrp a:hover{color: #ff9900;text-outline: none;border: none;text-decoration:underline;font-size: 12px;}
.supportDownloadDescrp a:active{color: #ff9900;text-outline: none;border: none;text-decoration:none;font-size: 12px;}







/* --------------------- PRODUCTS MATRIX ----------------------------*/


.ks {color: #ff9900;
 				font-family: Gill-sans, Helvetica, Arial;
 				font-weight: bold;
				font-size: 16px;
				text-decoration: underline;
				}
				
.ProductMatrixLinks {color: #ff9900;font-family: Gill-sans, Helvetica, Arial;font-weight: bold;font-size: 16px;text-outline: none;border: none;text-decoration: none;}

.ProductMatrixLinks a:link{color: #ff9900;font-family: Gill-sans, Helvetica, Arial;font-weight: bold;font-size: 16px;text-outline: none;border: none;text-decoration: underline;}

.ProductMatrixLinks a:visited{color: #ff9900;font-family: Gill-sans, Helvetica, Arial;font-weight: bold;font-size: 16px;text-outline: none;border: none;text-decoration: underline;}

.ProductMatrixLinks a:hover{color: #ff9900;font-family: Gill-sans, Helvetica, Arial;font-weight: bold;font-size: 16px;text-outline: none;border: none;text-decoration: underline;}

.ProductMatrixLinks a:active{color: #ff9900;font-family: Gill-sans, Helvetica, Arial;font-weight: bold;font-size: 16px;text-outline: none;border: none;text-decoration: underline;}
				
.ProductMatrixGrid {border-bottom: 1px dashed #242546;
					border-left: 2px solid #242546;
					}
					

  
  
  
  
/* ---------------------HOMEPAGE ----------------------------*/

.HomepageBodyTitle {color: #BCC0FC;
 				font-family: Gill-sans, Helvetica, Arial;
 				font-weight: bold;
				font-size: 16px;
				}


.HomepageSubtitle {color: #6B7DFE;
 				font-family: Gill-sans, Helvetica, Arial;
 				font-weight: bold;
				font-size: 12px;
				line-height: 2px;
				}
				

.HomepageLinkTitles {color: #6B7DFE;
						font-family: Gill-sans, Helvetica, Arial;
						font-weight: bold;
						font-size: 14px;
						}
.HomepageLinkTitles a:link{color: #ff9900;text-outline: none;border: none;text-decoration:none;}
.HomepageLinkTitles a:visited{color: #ff9900;text-outline: none;border: none;text-decoration:none;}
.HomepageLinkTitles a:hover{color: #ff9900;text-outline: none;border: none;text-decoration:none;}
.HomepageLinkTitles a:active{color: #ff9900;text-outline: none;border: none;text-decoration:none;}
             
.HomepageLinkDescrip {color: #BCC0FC;
 				font-family: Gill-sans, Helvetica, Arial;
 				font-weight: bold;
				font-size: 10px;
				}             
  
.HomepageLinkDescrip a:link{color: #ff9900;text-outline: none;border: none;text-decoration:none;}
.HomepageLinkDescrip a:visited{color: #ff9900;text-outline: none;border: none;text-decoration:none;}
.HomepageLinkDescrip a:hover{color: #ff9900;text-outline: none;border: none;text-decoration:none;}
.HomepageLinkDescrip a:active{color: #ff9900;text-outline: none;border: none;text-decoration:none;}
  
  /* ---------------------ABOUT ----------------------------*/

.AboutName {color: #6B7DFE;
 				font-family: Gill-sans, Helvetica, Arial;
 				font-weight: bold;
				font-size: 11px;
				}
				
.AboutTitle {color: #CED4FE;
 				font-family: Gill-sans, Helvetica, Arial;
 				font-weight: bold;
				font-size: 10px;
				}
				
.AboutEmail {color: #ff9900;
 				font-family: Gill-sans, Helvetica, Arial;
 				font-weight: bold;
				font-size: 11px;
				}
				
.AboutEmail a:link{color: #ff9900;text-outline: none;border: none;text-decoration:underline;font-size: 11px;font-weight: bold;}
.AboutEmail a:visited{color: #ff9900;text-outline: none;border: none;text-decoration:underine;font-size: 11px;font-weight: bold;}
.AboutEmail a:hover{color: #808DFF;text-outline: none;border: none;text-decoration:underline;font-size: 11px;font-weight: bold;}
.AboutEmail a:active{color: #808DFF;text-outline: none;border: none;text-decoration:underline;font-size: 11px;font-weight: bold;}






.AboutExperience {color: #6B7DFE;
 				font-family: Gill-sans, Helvetica, Arial;
 				font-weight: bold;
				font-size: 12px;
				}

.AboutFirmCopy {color: #CED4FE;
 				font-family: Gill-sans, Helvetica, Arial;
 				font-weight: normal;
                line-height: 18px;
				font-size: 10px;
				}
				
  
  
  
  
  
  
  
/* -------------------------------------------------
#6B7DFE - headers 16pt
-----------------------
light blue/purple / copy.. CED4FE
bright blue/purple - 808DFF
orange FF9900
image outlines - 242546

